section {
  min-height: 600px;
}

html {
  scroll-behavior: auto;
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

.jumbotron img {
  width: 25%;
}

.about .paragraf {
  font-size: 20px;
  text-align: justify;
  line-height: 30px;
}

.portfolio .card {
  box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

.portfolio .row {
  margin-bottom: 25px;
}

.portfolio .card-body {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio .card-body .btn {
  width: 40%;
}

.sosmed img {
  width: 35px;
  height: 35px;
  text-align: center;
}

/* MOBILE */
@media (max-width: 575.98px) {
  h2 {
    font-size: 24px;
  }

  .jumbotron h1 {
    font-size: 36px;
  }

  .jumbotron img {
    width: 50%;
  }

  .about .paragraf {
    margin: 0px 10px;
  }

  .about p {
    font-size: 16px;
    text-indent: 30px;
  }

  .portfolio .row {
    margin: 10px 0;
    margin-bottom: 0px;
    padding-bottom: 0px !important;
  }

  .portfolio .col-md {
    margin-bottom: 25px;
  }

  .contact .col-md-4 {
    margin: 0px 15px;
  }

  .contact .col-md-6 {
    margin: 30px 15px 0px 15px;
  }

  .contact .card-text,
  .contact .col-md-6 .send-button {
    text-align: center;
  }
}
