.calculator {
  text-align: center;
  margin: 0px auto;
  width: 400px;
  padding: 100px 0;
}

.calculator-screen {
  width: 100%;
  height: 100px;
  padding: 0 20px;
  font-size: 36px;
  text-align: right;
  margin-bottom: 5px;
  border: 1px solid #ecf0f1;
  outline: none;
  box-sizing: border-box;
}

.calculator-keys {
  width: 100%;
}

.row {
  display: flex;
}

button {
  height: 80px;
  width: 25%;
  font-size: 32px;
  background-color: #b2bec3;
  border: 1px solid black;
  outline: none;
}

.zero-btn,
.all-clear {
  width: 50%;
}

.operator,
.equal-sign {
  background-color: #fdcb6e;
}

button:hover {
  background-color: #dfe6e9;
}

.operator:hover,
.equal-sign:hover {
  background-color: #ffeaa7;
}
